svg.plot {
    width: 800px;
    height: 200px;
}

svg.plot path {
    fill: none;
    stroke: #53A0C6;
    stroke-width: 4;
}

svg.plot .x.axis line, svg.plot .x.axis path {
  fill: none;
  stroke: #000;
}
